blinker==1.9.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
Flask==3.1.2
flask-cors==6.0.1
gevent==25.9.1
gevent-websocket==0.10.1
greenlet==3.2.4
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
MouseInfo==0.1.3
numpy @ file:///opt/miniconda3/conda-bld/numpy_and_numpy_base_1761579345363/work/dist/numpy-2.2.5-cp310-cp310-macosx_12_0_arm64.whl#sha256=cee7bef98ac83b78786789b80f44469231df1e3cf12ce327f909aa4ea0fcee88
pillow==12.0.0
PyAutoGUI==0.9.54
pycparser==2.23
PyGetWindow==0.0.9
PyMsgBox==2.0.1
pyobjc-core==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-Quartz==12.1
pyperclip==1.11.0
PyRect==0.2.0
PyScreeze==1.0.1
pytweening==1.2.0
requests==2.32.5
rubicon-objc==0.5.2
sounddevice==0.5.3
srt==3.5.3
tobii-research==2.1.0
tqdm==4.67.1
urllib3==2.5.0
vosk==0.3.44
websockets==15.0.1
Werkzeug==3.1.3
zope.event==6.1
zope.interface==8.1.1
