* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif; 
}


.inter-fooont {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

body {
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.container {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 34px;
    height: 34px;
}

.info-icon img {
    width: 34px;
    height: 34px;
    padding: 5px;
}

h1 {
    font-size: 22px;
    color: #333;
}

.start-session {
    text-align: center;
    margin: 20px 0;

}

.play-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    
    margin-left: auto;
    margin-right: auto;
}

.play-button:active {
    transform: scale(0.95);
}

.visualization-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#nlp-command {
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center;
}


.highlight {
    color: blue;
    font-weight: bold;
}

.start-session p {
    margin-top: 10px;
    color: #666;
}



h2 {
    font-size: 12px;
    color: #333;
    margin-bottom: 5px;
}

.voice-commands p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.command {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.command img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.command h3 {
    font-size: 12px;
    color: #333;
    margin-bottom: 5px;
}

.command p {
    font-size: 12px;
    color: #666;
}

.voice-commands table {
    width: 100%;
    border-spacing: 0 15px;
}

.voice-commands td {
    padding: 5px;
    vertical-align: middle;
}

.voice-commands img {
    width: 30px;
    height: auto;
}

.voice-commands h2 {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 0;
    color: #333;
}

.voice-commands p {
    font-size: 12px;
    color: #666;
    margin: 0;
}

.play-button:focus {
  outline: 3px solid yellow;
  outline-offset: 3px;
}
